<header class="header">
	<div class="header-wrapper">
		<div class="container">
			<div class="header-main">
				<div class="header-logo">
					<a href="#" title="homepage">
						<picture>
							<!--<source srcset="./assets/img/ts-black.webp" media="(min-width: 768px)" alt="main logo teamsystem hr" width="161" height="53" type="image/webp">
							<source srcset="./assets/img/ts-black.jpg" media="(min-width: 768px)" alt="main logo teamsystem hr" width="161" height="53" type="image/jpeg">
							<source srcset="./assets/img/ts-mobile.webp" media="(max-width: 767px)" alt="main logo teamsystem hr" width="52" height="50" type="image/webp">-->
							<img src="./assets/svg/logo-hq.svg" alt="main logo teamsystem hr" width="52" height="50"> <!-- mobile jpg-->
						</picture>
					</a>
				</div>
				<div class="header-btn _mobile">
					<a href="#" class="btn _orange" title="contattaci">Contattaci</a>
				</div>
				<div class="header-user">
					<div class="header-cta">
						<a href="#" title="vai al sito">Vai al sito TeamSystem</a>
					</div>
					<div class="header-search">
						<form method="get" class="" name="siteSearch" id="siteSearch">
							<input type="text" id="search-input" name="txtSiteSearch" placeholder="Cerca nel sito">
							<button class="btn" type="submit" id="ib1">
								<svg class="ico"><use xlink:href="#ico-search"></use></svg>
							</button>
						</form>
					</div>
					<div class="header-btn">
						<a href="#" class="btn _orange" title="contattaci">Contattaci</a>
					</div>
					<div class="header-toggle">
						<button class="nav-toggler" data-nav-toggle type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="line"></span>
							<span class="line"></span>
							<span class="line"></span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="header-nav">
		<div class="container">
			<!-- @@include ./nav.html -->
		</div>
	</div>
</header>
