
<section class="section columns">
	<div class="container">
		<div class="row">
            <div class="col-12 col-lg-3 col-md-6">
                <div class="title">Semplice da usare</div>
                <ul class="list">
                    <li>TeamSystem Enterprise ha un’<strong>interfaccia flessibile</strong> in grado di adattarsi a ogni figura aziendale. Permette di <strong>organizzare al meglio il desktop</strong> per avere sempre a portata di mano ciò che serve</li>
                    <li>La presenza dell’assistente virtuale semplifica, accelera e <strong>riduce gli errori</strong> che possono verificarsi durante l’operatività quotidiana</li>
                    <li>Ogni giorno <strong>investiamo per aggiornare e semplificare i nostri software</strong>: tutto ciò per offrirti un’esperienza piacevole</li>
                </ul>
            </div>
            <div class="col-12 col-lg-3 col-md-6">
                <div class="title">Semplice da usare</div>
                <ul class="list">
                    <li>Soddisfa le esigenze di tutta l'azienda dall’<strong>amministrazione</strong> fino alle <strong>risorse umane</strong>, dagli <strong>acquisti </strong>alle <strong>vendite</strong>, dalla <strong>produzione </strong>alla <strong>gestione del magazzino</strong></li>
                    <li>Grazie alle <strong>integrazioni </strong>possibili con le soluzioni TeamSystem, Microsoft Office, Telematici e molto altro, avrai accesso ad analisi di <strong>Business Intelligence</strong>, servizi digitali per la gestione della <strong>firma elettronica, fatturazione, collaborazione</strong> con clienti e fornitori e molto altro</li>
                    <li>Tutti i flussi operativi e <strong>i documenti associati sono parametrizzabili</strong> graficamente per garantire visibilità e controllo dei processi</li>
                </ul>
            </div>
            <div class="col-12 col-lg-3 col-md-6">
                <div class="title">Semplice da usare</div>
                <ul class="list">
                    <li>TS Enterprise presenta <strong>soluzioni specifiche per diversi settori</strong>. In questo modo avrai esattamente ciò che ti serve per il tuo business</li>
                    <li><strong>Fashion, agroalimentare, industria, manifatturiero</strong>: ognuno ha le sue peculiarità. Ecco perché abbiamo sviluppato alcuni <strong>moduli specifici proprio per il tuo settore</strong></li>
                    <li><strong>Puoi lavorare davvero ovunque</strong> e in qualunque momento grazie a una serie di applicazioni utilizzabili direttamente da smartphone</li>
                </ul>
            </div>
            <div class="col-12 col-lg-3 col-md-6">
                <div class="title">Semplice da usare</div>
                <ul class="list">
                    <li><strong>Supporto esperto da parte dei nostri collaboratori e partner</strong>, costantemente formati sulle soluzioni che proponiamo ai nostri clienti</li>
                    <li><strong>Accesso a MySupport</strong>, un portale interamente dedicato al supporto, così da <strong>velocizzare ogni richiesta</strong>. Inoltre, avrai anche a disposizione l’assistenza dei nostri <strong>call center</strong></li>
                    <li><strong>Accesso a Euroconference</strong>, una delle fonti più autorevoli in <strong>ambito normativo e fiscale</strong> per essere sempre aggiornato</li>
                </ul>
            </div>
        </div>
	</div>
</section>


