<section class="section content _topline">
	<div class="container">
		<div class="box _heading-center">
			<div class="box-title _blue">
				<h2 class="h2">Finanza Agevolata - diventa altro</h2>
			</div>
            <div class="box-text">
                La legge di bilancio 2021 prevede una serie di aiuti da parte del Governo, di carattere fiscale e finanziario, per sostenere l'innovazione delle imprese.
            </div>
		</div>
        <div class="box _cta-center">
            <div class="box-cta">
                <a href="#" class="btn _inline-alt-blk" title="SCOPRI DI PIÙ SUGLI INCENTIVI">SCOPRI DI PIÙ SUGLI INCENTIVI</a>
            </div>
        </div>
	</div>
</section>



