<section class="section cover _small">
    <div class="img _slim">
        <picture>
            <source srcset="./assets/img/cover/cover-04.webp" media="(min-width: 768px)" alt="Title" width="1920" height="492" type="image/webp"> <!-- fullwidth webp-->
            <source srcset="./assets/img/cover/cover-04.jpg" media="(min-width: 768px)" alt="Title" width="1920" height="492" type="image/jpeg"> <!-- fullwidth jpg-->
            <source srcset="./assets/img/cover/cover-04m.webp" media="(max-width: 767px)" alt="Title" width="750" height="250" type="image/webp"> <!-- mobile webp-->
            <img src="./assets/img/cover/cover-04m.jpg" alt="Title" width="750" height="250"> <!-- mobile jpg-->
        </picture>
    </div>
</section>
