<section class="section cover _title">
	<div class="box">
        <div class="box-title">
            <h1 class="h1">
                TeamSystem Construction organizza eventi informativi
            </h1>
        </div>
        <div class="box-text">
            <h2 class="h2">
                Scopri le tappe degli eventi nelle città più vicine a te.
            </h2>
        </div>
        <div class="box-bg">
            <div class="img _h100">
                <picture>
                    <source srcset="./assets/img/cover/gradient-03m.webp" media="(max-width: 767px)" alt="Title" width="750" height="250" type="image/webp"> <!-- mobile webp-->
                    <img src="./assets/img/cover/gradient-03m.jpg" alt="Title" width="750" height="250"> <!-- mobile jpg-->
                </picture>
            </div>
        </div>
    </div>
    <div class="img _wide">
        <picture>
            <source srcset="./assets/img/cover/cover-04.webp" media="(min-width: 768px)" alt="Title" width="1920" height="492" type="image/webp"> <!-- fullwidth webp-->
            <source srcset="./assets/img/cover/cover-04.jpg" media="(min-width: 768px)" alt="Title" width="1920" height="492" type="image/jpeg"> <!-- fullwidth jpg-->
            <source srcset="./assets/img/cover/cover-04m.webp" media="(max-width: 767px)" alt="Title" width="750" height="250" type="image/webp"> <!-- mobile webp-->
            <img src="./assets/img/cover/cover-04m.jpg" alt="Title" width="750" height="250"> <!-- mobile jpg-->
        </picture>
    </div>
</section>