<section class="section event-list">
	<div class="container">
		<div class="event-filters">
			<button class="btn _pink-alt" data-toggle-btn="filter-panel">
				<span>filtri</span>
				<svg class="ico"><use xlink:href="#ico-filter"></use></svg>
			</button>
			<div class="event-filters-wrapper" data-toggle-target="filter-panel">
				<div class="wrap-cerca-eventi">
					<div class="col-cerca-evento">
						<div class="input-group">
							<label>Tipo</label>
							<select>
								<option data-search="/hr/lista-eventi">seleziona</option>
                                <option value="199" data-search="?tipo=199">Fiera</option>
								<option value="203" data-search="?tipo=203">Webinar</option>
								<option value="198" data-search="?tipo=198">Seminario</option>
							</select>
						</div>
					</div>
					<div class="col-cerca-evento">
						<div class="input-group">
							<label>Argomento</label>
							<select>
                                <option data-search="/hr/lista-eventi">seleziona</option>
								<option value="200" data-search="?argomento=200">Lavoro</option>
								<option value="267" data-search="?argomento=267">Asset Management</option>
								<option value="277" data-search="?argomento=277">Digitalizzazione Aziende</option>
								<option value="280" data-search="?argomento=280">Digitalizzazione Costruzioni</option>
							</select>
						</div>
					</div>
					<div class="col-cerca-evento">
						<div class="input-group">
							<label>Sede</label>
							<select>
								<option data-search="/hr/lista-eventi">seleziona</option>
								<option value="201" data-search="?sede=201">Roma</option>
								<option value="202" data-search="?sede=202">Bologna</option>
								<option value="261" data-search="?sede=261">Online</option>
							</select>
						</div>
					</div>


					<div class="col-cerca-evento">
						<div class="input-group">
							<label>Periodo</label>
							<input data-datepicker type="text" data-param="dtini" placeholder="data inizio" value="" class="hasDatepicker">
						</div>
					</div>
					<div class="col-cerca-evento">
						<div class="input-group">
							<input data-datepicker type="text" data-param="dtfin" placeholder="data fine" value="" class="hasDatepicker">
						</div>
					</div>
					<div class="col-cerca-evento">
						<div class="input-group">
							<label>Cerca</label>
							<input type="text" id="txtRicerca" data-param="stext" name="Cerca Eventi" placeholder="ricerca libera" value="">
							<div class="input-group-append">
								<button class="btn btn-outline-secondary btn-search" id="btnRicercatxt" type="button">
                                    <svg class="ico"><use xlink:href="#ico-search"></use></svg>
                                </button>
							</div>
						</div>
					</div>

					<div class="reset-all">
						<a href="#" class="reset-filters">Cancella tutti i filtri</a>
					</div>


				</div>
			</div>
		</div>
	</div>
	<div class="row-event">
		<div class="container">
			<div class="card _event">
				<div class="card-wrapper">
					<div class="card-primary">
						<a href="#" class="card-date">
							<span class="date-number">1</span>
							<span class="date-month">LUG</span>
							<span class="date-year">2022</span>
						</a>
					</div>
					<div class="card-secondary">
						<div class="box">
							<div class="box-info">
								<svg class="ico"><use xlink:href="#ico-arrow"></use></svg>
								<a href="#" title="Digitalizzare la gestione del patrimonio, degli spazi e delle attività manutentive">
									<span>Sede: <strong>Online</strong></span>
									<span>Tipo: <strong>Webinar</strong></span>
								</a>
							</div>
							<div class="box-title">
								<h3 class="h3"><a href="#" title="Digitalizzare la gestione del patrimonio, degli spazi e delle attività manutentive">Digitalizzare la gestione del patrimonio, degli spazi e delle attività manutentive</a></h3>
							</div>
							<div class="box-text">
								<p>TeamSystem Construction per "La parola all'esperto" di IFMA</p>
							</div>
							<div class="box-eyelet">
								<a href="#" title="Digitalizzazione Aziende">Digitalizzazione Aziende</a>
								| <a href="#" title="Digitalizzazione Costruzioni">Digitalizzazione Costruzioni</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row-event">
		<div class="container">
			<div class="card _event">
				<div class="card-wrapper">
					<div class="card-primary">
						<a href="#" class="card-date _yellow">
							<span class="date-number">1</span>
							<span class="date-month">LUG</span>
							<span class="date-year">2022</span>
						</a>
					</div>
					<div class="card-secondary">
						<div class="box">
							<div class="box-info">
								<svg class="ico"><use xlink:href="#ico-arrow"></use></svg>
								<a href="#" title="Digitalizzare la gestione del patrimonio, degli spazi e delle attività manutentive">
									<span>Sede: <strong>Online</strong></span>
									<span>Tipo: <strong>Webinar</strong></span>
								</a>
							</div>
							<div class="box-title">
								<h3 class="h3"><a href="#" title="Digitalizzare la gestione del patrimonio, degli spazi e delle attività manutentive">Digitalizzare la gestione del patrimonio, degli spazi e delle attività manutentive</a></h3>
							</div>
							<div class="box-text">
								<p>TeamSystem Construction per "La parola all'esperto" di IFMA</p>
							</div>
							<div class="box-eyelet">
								<a href="#" title="Digitalizzazione Aziende">Digitalizzazione Aziende</a>
								| <a href="#" title="Digitalizzazione Costruzioni">Digitalizzazione Costruzioni</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row-event">
		<div class="container">
			<div class="card _event">
				<div class="card-wrapper">
					<div class="card-primary">
						<a href="#" class="card-date _yellow">
							<span class="date-number">1</span>
							<span class="date-month">LUG</span>
							<span class="date-year">2022</span>
						</a>
					</div>
					<div class="card-secondary">
						<div class="box">
							<div class="box-info">
								<svg class="ico"><use xlink:href="#ico-arrow"></use></svg>
								<a href="#" title="Digitalizzare la gestione del patrimonio, degli spazi e delle attività manutentive">
									<span>Sede: <strong>Online</strong></span>
									<span>Tipo: <strong>Webinar</strong></span>
								</a>
							</div>
							<div class="box-title">
								<h3 class="h3"><a href="#" title="Digitalizzare la gestione del patrimonio, degli spazi e delle attività manutentive">Digitalizzare la gestione del patrimonio, degli spazi e delle attività manutentive</a></h3>
							</div>
							<div class="box-text">
								<p>TeamSystem Construction per "La parola all'esperto" di IFMA</p>
							</div>
							<div class="box-eyelet">
								<a href="#" title="Digitalizzazione Aziende">Digitalizzazione Aziende</a>
								| <a href="#" title="Digitalizzazione Costruzioni">Digitalizzazione Costruzioni</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row-event">
		<div class="container">
			<div class="card _event">
				<div class="card-wrapper">
					<div class="card-primary">
						<a href="#" class="card-date">
							<span class="date-number">1</span>
							<span class="date-month">LUG</span>
							<span class="date-year">2022</span>
						</a>
					</div>
					<div class="card-secondary">
						<div class="box">
							<div class="box-info">
								<svg class="ico"><use xlink:href="#ico-arrow"></use></svg>
								<a href="#" title="Digitalizzare la gestione del patrimonio, degli spazi e delle attività manutentive">
									<span>Sede: <strong>Online</strong></span>
									<span>Tipo: <strong>Webinar</strong></span>
								</a>
							</div>
							<div class="box-title">
								<h3 class="h3"><a href="#" title="Digitalizzare la gestione del patrimonio, degli spazi e delle attività manutentive">Digitalizzare la gestione del patrimonio, degli spazi e delle attività manutentive</a></h3>
							</div>
							<div class="box-text">
								<p>TeamSystem Construction per "La parola all'esperto" di IFMA</p>
							</div>
							<div class="box-eyelet">
								<a href="#" title="Digitalizzazione Aziende">Digitalizzazione Aziende</a>
								| <a href="#" title="Digitalizzazione Costruzioni">Digitalizzazione Costruzioni</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
