<section class="section features">
    <div class="container">
        <div class="box _heading-center">
            <div class="box-title">
                <h2 class="h2">Software gestionale per imprese edili</h2>
            </div>
            <div class="box-text">
                <p>TeamSystem Construction Project Management per le imprese è la soluzione tecnica, anche WEB e CLOUD, per tenere sotto controllo le commesse e i cantieri dalla gara al computo, dalla programmazione lavori alla pianificazione degli acquisti, dai rapportini di cantiere al controllo di gestione di commessa e di tutte le commesse in corso.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card _features _features-alt">
                    <div class="box">
                        <div class="box-icon">
                            <img src="./assets/img/icon/ico-01.png" alt="">
                        </div>
                        <div class="box-title">
                            <h3 class="h3">Cosa fa</h3>
                        </div>
                        <div class="box-text">
                            <p>Copre tutti gli aspetti gestionali di una commessa come di tutte le commesse complessivamente: preventivazione, budget di commessa, gestione acquisti, rapportini di cantiere, contabilità lavori e controllo avanzato di commessa.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card _features _features-alt">
                    <div class="box">
                        <div class="box-icon">
                            <img src="./assets/img/icon/ico-02.png" alt="">
                        </div>
                        <div class="box-title">
                            <h3 class="h3">A chi si rivolge</h3>
                        </div>
                        <div class="box-text">
                            <p>Il tutto <strong>BIM ready</strong> e accessibile in mobilità attraverso APP o in modalità WEB/CLOUD.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card _features _features-alt">
                    <div class="box">
                        <div class="box-icon">
                            <img src="./assets/img/icon/ico-02.png" alt="">
                        </div>
                        <div class="box-title">
                            <h3 class="h3">I benefit</h3>
                        </div>
                        <div class="box-text">
                            <p>La forza di TeamSystem HR è quella di <strong>accorpare più funzuioni in un'unica soluzione</strong>. All'interno della piattaforma è possibile gestire i rapporti di lavoro, il welfare aziendale, la formazione, la salute e sicurezza e molti altri aspetti legati alla gestione delle risorse umane.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>