<section class="section side-content _alt">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-7 side-inner">
				<article>
					<div class="box">
						<h2 class="h2">TeamSystem Construction per "La parola all'esperto" di IFMA</h2>
						<h4 class="h4">SESSIONE ON LINE, mercoledì 1° luglio ore 15:00 - 17:00</h4>
						<hr>
						<p>
							<strong>
								"La parola all’esperto": una serie di incontri istituiti da IFMA Italia per approfondire, grazie alla collaborazione di esperti del settore, temi attuali e di specifico interesse per chi opera nel Facility Management.
							</strong>
						</p>
						<p>
							Parleremo di TeamSystem Enterprise Asset Management: soluzione cloud/web per la gestione e condivisione digitale delle informazioni di Property e Facility Management, accessibile ai propri collaboratori e ai fornitori esterni.
						</p>
						<h3 class="h3">PROGRAMMA</h3>
						<ul>
							<li><strong>Saluto e Introduzione</strong> | Francesca Zinzi, IFMA Italia</li>
							<li><strong>Presentazione TeamSystem Construction</strong> | Lorenzo Pasquali, TeamSystem Construction</li>
							<li>
								<strong>Presentazione piattaforma</strong>: focus Property, Space e Facility | Daniele Bagagli, Geoweb
								<br/>
								Esempio applicativo gestione spazi
								<br/>
								Esempio applicativo gestione manutenzioni
							</li>
							<li><strong>Conclusioni</strong> | Carmine Rubicco, TeamSystem Construction</li>
							<li><strong>Domande e Risposte</strong></li>
						</ul>
						<u>La partecipazione all'evento è gratuita previa iscrizione, compila il form on line qui a lato</u>
					</div>
				</article>
			</div>
			<div class="col-sm-6 col-md-5 sidebar">
				<sidebar id="sidebar">
					<!-- Form Fixed Right -->
					<div class="form-fixed-right active form-fixed-alt" id="form-fixed-right">
						<div id="contatto-new-3">
							<!--[if lte IE 8]>
							<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
							<![endif]-->
							<script src="//js.hsforms.net/forms/v2.js" type="text/javascript" charset="utf-8"></script>
							<script type="text/javascript">
								// <![CDATA[
								hbspt.forms.create({
									portalId: "5264012",
									formId: "7abf2aab-f76a-45d1-8d8e-92ec42bd98ff"
								});
								// ]]>
							</script>
						</div>
					</div>
				</sidebar>
			</div>
		</div>
	</div>
</section>
