<art class="section side-content">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-8 side-inner">
				<article>
					<div class="box">
						<h2 class="h2">Manutenzione programmatica e di controllo</h2>
						<p>
							La Community che mette in contatto le imprese edili e i migliori avvocati esperti del settore.
						</p>
						<hr>
						<p>
							Tramite il nuovo servizio le aziende clienti potranno attivare i seguenti servizi:
						</p>
						<ul>
							<li>richiesta di contatto diretto con avvocati del Panel presenti nell’area geografica ed esperti nella specifica materia d’interesse;</li>
							<li>richiesta di svolgimento di una procedura di selezione comparativa (c.d. beauty contest) digitale per individuare l’avvocato cui affidare un incarico di assistenza legale;</li>
							<li>richiesta di una video consulenza per un primo consulto legale</li>
						</ul>
						<p>
							I professionisti del marketplace hanno esperienze verificate nel settore e possono offrire un’assistenza qualificata a operatori con necessità complesse e caratterizzate da frequenti aggiornamenti normativi e giurisprudenziali.
						</p>
						<hr>
						<p>
							Qui di seguito il link di accesso al servizio: <a href="#">https://news.4clegal.com/panel-construction</a>
						</p>
					</div>
                    <!-- @@include ./features-2col.html -->
					<div class="box">
						<h4 class="h4">Caratteristiche</h4>
						<p>
							Il software Acquisti e Supply Chain Management è pensato per gestire il reperimento del materiale utile per l’attività aziendale.
							I riordini del materiale necessario sono attivati automaticamente a seconda dei fabbisogni della produzione e delle analisi di magazzino (MRP, Material Requirements Planning).
							Grazie al supporto di TeamSystem Digital, infine, la fatturazione elettronica relativa agli acquisti diventa più veloce e precisa. 
						</p>
					</div>
				</article>
			</div>
			<div class="col-sm-6 col-md-4 sidebar">
				<sidebar id="sidebar">
					<!-- Form Fixed Right -->
					<div class="form-fixed-right active" id="form-fixed-right">

						<div class="h4">Richiedi Informazioni</div>

						<div id="contatto-new-2">

							<!--[if lte IE 8]>

                            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>

                            <![endif]-->

							<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
							<script>
								hbspt.forms.create({
									portalId: "5264012",
									formId: "aa05d5a0-6e04-4438-a31c-eb21624b5d95",
									css: "",
									cssClass: "form-hsb",
									submitButtonClass: "btn btn-azure"

								});
								onload = function() {
									if (document.getElementsByName("url_last_submission")[0]) {
										document.getElementsByName("url_last_submission")[0].value = document.location.href;
									}
								};

							</script>

						</div>
                    </div>
				</sidebar>
			</div>
		</div>
	</div>
	</section>
