<section class="section social-share">
    <div class="container">
        <div class="box _heading-center">
            <div class="box-title _blue">
                <h3 class="h3">Condividi sui social</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="social-share">
                    <ul>
                        <li>
                            <a class="social-item" href="https://www.facebook.com/sharer/sharer.php?u=https://teamsystem.wslabs.it/HR/eventi/ifma-fm-0107" title="facebook" target="_blank">
                                <svg class="ico"><use xlink:href="#ico-fb"></use></svg>
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://twitter.com/home?status=https://teamsystem.wslabs.it/HR/eventi/ifma-fm-0107%20@TeamSystem" title="twitter" target="_blank" >
                                <svg class="ico"><use xlink:href="#ico-tw"></use></svg>
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://teamsystem.wslabs.it/HR/eventi/ifma-fm-0107&amp;title=Digitalizzare la gestione del patrimonio, degli spazi e delle attività manutentive&amp;summary=&amp;source=" title="linkedin" target="_blank">
                                <svg class="ico"><use xlink:href="#ico-ln"></use></svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>