<section class="section inputbar _subscribe _topline">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="box">
                    <div class="box-title">
                        <h3 class="h3">Cosa stai cercando</h3>
                    </div>
                    <div class="box-text">
                       <p><strong>Scrivi la parola nel campo di ricerca</strong></p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8">
                <form method="get" class="" name="siteSearch" id="siteSearch">
                    <input type="text" id="search-input" name="txtSiteSearch" placeholder="Il tuo indirizzo mail">
                    <button class="btn _white" type="submit" id="ib1">Iscriviti</button>
                </form>
            </div>
        </div>
    </div>
</section>